.home {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
h3 {
  color: rgb(160, 159, 159);
  text-decoration: none;
}
a:visited {
  color: rgb(160, 159, 159);
  text-decoration: none;
}
a {
  text-decoration: none;
}
.main {
  display: flex;
  flex-direction: column;
}
.btn {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
